*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   
}

.grid-contenedor{
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-template-areas: "header header" 
                          "main main"
                          "foto foto"
                          "foto foto"
                          "footer footer";   
}


.grid-contenedor1{
    display: grid;
    grid-template-columns: repeat(2,auto);  
    grid-auto-flow: row;  
}

.foto {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    grid-area: foto;
    background-color: #ff6363;
}

.grid-contenedor2{
    display: grid;
    grid-template-columns: repeat(1,auto);
    grid-template-areas: "header" 
                          "main"
                          "main"
                          "footer";
   
}
.encabezado{
    grid-area: header;
    display: flex;
    flex-direction: column;
}

.logoAdira{
    width: 100px;
    height: 80px;
}

.nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ff6363;
}

nav ul{
    display: flex; 
    justify-content: center;
    
}

nav ul li{
    list-style-type: none;
    color: beige;
    margin: 5px;
    padding: 5px;

}


nav ul li a{
    text-decoration: none;
    font-size: 20px;
    color: beige;
}

header img{
    width: 100%;
}

.subtitulo-home{
    margin: 2px;
    padding: 5px;
    font-style: oblique;
    text-decoration: underline;
}

main{
    grid-area: main;
}

.padre{
    grid-area: main;

}

.texto{

    text-align: center;
    color: black;
    font-weight: bolder;
    font-style: normal;
    padding: 5px;
    font-size: medium;
    margin: 30px;
}
.imagen1{
    width: 200px;
    margin: 60px;
    justify-content: center;
    justify-items: center;

}

footer{
    grid-area: footer;
    text-align: center;
    padding: 15px;
    background-color: #ff6363;
    font-weight: bold;
    color: white;
}

.jazz{
    display: block;
    justify-content: space-around;
    justify-items: center;
    margin: 15px;
}

.imagenJazz{
    width: 350px;
}


.padre2{
    grid-area: main;
}    

.card-home {
    /* border-bottom: 1px solid black; */
    box-shadow: 0px 0px 15px grey;
    margin: 15px;
    padding: 16px;
    border-radius: 16px;
    color:#770404;
}


/* VISTA NORMAL */
@media screen and (min-width: 1024px){

    .grid-contenedor{
        display: grid;
        grid-template-columns: repeat(4,auto);
        grid-template-areas: "header header header header" 
                              "main main main main"
                              "foto foto foto foto"
                              "footer footer footer footer";
       
    }

    .grid-contenedor1{
        display: grid;
        grid-auto-flow: column;
        gap: 4px;
        align-items: center;
        justify-items: center;
    }


    .parrafo-home{
        text-align: center;
        font-size: medium;
        color:#770404;
        margin: 8%;    
    }
    
    .jazz{
        display: flex;
        justify-content: space-around;
        justify-items: center;
        margin: 50px;
    }

}






 

    




/*

.grid-contenedor{
    display: grid;
    height: 100vh;
    grid-template-columns:  "fondo fondo fondo fondo"
                           "logo menu menu menu"
                           "main main main main"
                           "imagen imagen imagen imagen"
                           "footer footer footer footer";
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;        
}
#fondo{
    grid-area: fondo;
    width: 1400px;
    height: 1000px;
    background-image: url(fondo.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.logo{
    grid-area: logo;
    justify-self: center;
    width: 70px;
    height: 70px;
    margin: 10px;
}

.header{
    display: flex;
    justify-content: space-between;
}

.menu{
    grid-area: menu;
    margin-top: 15px;
    display: flex;
    justify-self: center;
    margin-right: 80px;
    position: sticky;
    padding: 5px;
    font-size: 20px;
    background-color: #9c0759;
}

.menu ul li{
    list-style-type: none;
    display: inline-block;
    text-align: center;
    margin: 10px;
    position: relative;
}

.menu ul li:hover{
    background-color: #30021b;
}

}

.sub-menu{
    background-color: #9c0759;
    color: #dd7db2;
}

.menu ul ul{
    display: none;
    position: absolute;
}

.menu ul li:hover > ul{
    display: block;
}

nav ul li:hover>{
    display: block;
}

.main{
    grid-area: main;
}

.subtitulo{
    text-align: center;
    padding: 20px;
    font-style: oblique;
}

.parrafo{
    
    text-align: center;
    color: black;
    font-weight: bolder;
    font-style: normal;
    padding: 5px;
    font-size:large;
    margin: 30px;
}

.{
    grid-area: imagen;
    width:min-content;
    height:min-content;
        
}
/*






.numero {
    
    width: 450px;
    height:450px ;
    margin: 10px;
    padding: 20px;
}









.padre{
display: flex;

}



   



footer h2{
    font-size: 15px;
    text-align: center;
    color: #F2789F;
    font-weight: 900px;
}

.padre{
    display: flex;
}

.horario{
    color: #9c0759;
    text-decoration: underline;
    margin: 10px;
    padding: 10px;
}
table, th, td {
    border: 1px solid black;
    border: collapse;
    font-weight:bolder;
    text-align: center;
}

.parrafo-trab{
    color: black;
    font-size: medium;
    font-family: cursive;
    text-align: justify;
}